.container-banner {
  background-image: url("./img/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.banner {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  height: 1026px;
  display: flex;
  justify-content: space-between;
  padding-top: 208px;
  position: relative;
  z-index: 2;
}
.banner-info {
  display: flex;
  flex-direction: column;
}
.banner-logo {
  display: flex;
  gap: 5px;
  width: 270px;
  height: 100px;

  margin-bottom: 72px;
}
.banner__title {
  width: 670px;

  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.banner-horizontal-line {
  max-width: 170px;
  width: 100%;
  height: 1px;
  background-color: #fff;

  margin-left: 0;
  margin-top: 55px;
}
.banner__subtitle {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 42px;
  margin-bottom: 42px;
}
.banner__button {
  display: flex;
  width: 270px;
  height: 58px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: none;
  border: 2px solid rgb(255, 255, 255);

  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.banner-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 470px;
  width: 100%;
  height: 450px;
  border-radius: 10px;
  background-color: #fff;
}

.banner-form__title {
  color: #333;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 50px;
  height: 90px;

  margin-bottom: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.banner-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding: 0 50px;
}

.banner-form__input {
  width: 100%;
  border: none;

  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;

  border-bottom: 2px solid #bdbdbd;
  padding-bottom: 20px;
}

.form-button {
  width: 100%;
  height: 60px;
  flex-shrink: 0;

  border-radius: 0px 0px 10px 10px;
  background-color: #ec7979;

  margin-top: 32px;
}
.banner-form__button {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px 0px 10px 10px;
  background-color: #ec7979;

  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.banner-form__button:hover {
  background-color: #ec7979;
  box-shadow: 0px 0px 10px 0px #ab4949 inset;
}

.banner-form__button:active {
  background-color: #ab4949;
}

@media (max-width: 1169px) {
  .banner {
    padding-top: 137px;
    padding-bottom: 106px;
    height: auto;
  }

  .banner-info {
    width: 454px;
  }

  .banner-logo {
    width: 183px;
    height: 74px;
    margin-bottom: 37px;
  }

  .banner__title {
    font-size: 36px;
    width: 100%;
  }

  .banner-form {
    width: 398px;
  }

  .banner-form__title {
    font-size: 18px;
  }

  .banner-horizontal-line {
    margin-top: 41px;
  }

  .banner__subtitle {
    margin: 31px 0;
    font-size: 14px;
  }

  .banner__button {
    width: 183px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .banner-horizontal-line {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-logo {
    display: none;
  }
  .banner__title {
    text-align: center;
    font-size: 36px;
  }
  .banner__subtitle {
    text-align: center;
  }
  .banner__button {
    width: 288px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .banner__title {
    width: 288px;
  }
  .banner-form {
    width: 98%;
  }
}
