.container {
  width: 100%;
  display: flex;
  padding-top: 50px;
}
.customers {
  max-width: 1200px;
  width: 100%;

  padding: 0 15px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.customers__title {
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
.horizontal-line {
  border: none;
  background-color: #ec7979;

  width: 170px;
  height: 1px;
}
.customers__subtitle {
  color: #86878b;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 83px;
}
.customers-review {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.customers-review-block {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.customers-review__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  width: 100%;
  min-height: 180px;

  border-radius: 10px;
  background-color: #e2e2e2;

  color: #86878b;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
}
.customers__icon {
  display: flex;

  margin-left: 70px;

  height: 20px;
  width: 30px;
}

.customers-review-person {
  margin-top: 66px;
  width: 100%;
  display: flex;
  gap: 30px;
}

.review-person__name {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;

  margin-bottom: 15px;
}
.review-person__photo {
  width: 70px;
  height: 70px;
}
.review-person__status {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 1125px) {
  .customers-review__text {
    font-size: 16px;
  }
  .customers__title {
    font-size: 30px;
  }
  .customers__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 1025px) {
  .customers-review__text {
    font-size: 14px;
  }
  .review-person__name {
    font-size: 18px;
  }
  .customers__title {
    font-size: 24px;
  }
  .customers-review {
    gap: 20px;
  }

  .customers__subtitle {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .customers-review-block {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .customers-review__text {
    padding: 2px;
  }
  .customers-review-block--2 {
    display: none;
  }
}
/* 
@media (max-width: 650px) {
  .customers-review-block {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
} */
