.header {
  height: 75px;
  background-color: black;
}

.header-container {
  max-width: 1315px;
  width: 100%;

  padding: 0 15px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav ul {
  display: flex;
  align-items: center;
}
.header-nav__item {
  list-style: none;
  gap: 50px;
  width: 113px;

  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 1024px) {
}
