.header {
  height: 75px;
  background-color: black;
}

.header-container {
  max-width: 1315px;
  width: 100%;

  padding: 0 15px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}
#burger,
[for="burger"] {
  display: none;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav ul {
  display: flex;
  align-items: center;
}
.header-nav__item {
  list-style: none;
  gap: 50px;
  width: 113px;

  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 1024px) {
}

@media (max-width: 850px) {
  .header-nav__item {
    width: 90px;
  }
}

@media (max-width: 680px) {
  .header-nav__item {
    width: 70px;
  }
}

@media (max-width: 560px) {
  .header-nav__item {
    display: none;
  }

  [for="burger"] {
    display: block;
    position: fixed;
    width: 50px;
    text-align: center;
    right: 30px;
    top: 25px;
  }
  [for="burger"]::before {
    content: "☰";
    color: #fff;
  }
  .header-nav {
    display: none;
    position: fixed;
    top: 0;
    margin-top: 30px;
    background: rgba(216, 243, 253, 0.692);
    width: 80%;
    user-select: none;
  }
  .header-nav__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #burger:checked + label + nav {
    display: block;
    animation: show 0.5s ease;
  }
  #burger:checked + [for="burger"]::before {
    content: "⮾";
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
