.container {
  width: 100%;
  display: flex;
}
.tabs {
  max-width: 1200px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.container-tabs {
  height: 40px;
  display: flex;
}

.container-tabs__1 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  color: #333;

  display: inline-block;
  width: 203px;
  height: 41px;

  border-radius: 5px 5px 0px 0px;
  border-top: 1px solid #c6cbcd;
  border-right: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;

  align-items: center;
}

.container-tabs__2 {
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #c6cbcd;
  text-align: center;
  line-height: 40px;
  width: 184px;
  height: 40px;
}

.container-tabs__3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #c6cbcd;
  text-align: center;
  line-height: 40px;
  width: 184px;
  height: 40px;
}

.container-tabs__4 {
  border-bottom: 1px solid #c6cbcd;
  width: 587px;
  height: 40px;
}
.main {
  display: flex;
  height: 502px;
  border-left: 1px solid #c6cbcd;
  border-bottom: 1px solid #c6cbcd;
}
.main-left {
  width: 60%;
  padding-left: 100px;
  vertical-align: top;
  display: inline-block;
}
.main-left__title {
  margin: 0;
  margin-bottom: 27px;
  height: 124px;
  line-height: 124px;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
.main-left__text {
  height: 210px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-bottom: 27px;
  /* width: 570px; */
  vertical-align: top;
}

.main-left__botton {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 270px;
  height: 58px;
  background-color: #ec7979;
  border: none;
  color: #ffffff;
}

.main-left__botton:hover {
  background-color: #ec7979;
  box-shadow: 0px 0px 10px 0px #ab4949 inset;
}

.main-left__botton:active {
  background-color: #ab4949;
}

.main-right {
  width: 40%;
  height: 500px;
  display: inline-block;
  margin-left: 25px;
}
.main-right__picture {
  width: 100%;
  height: 501px;
}

/* .container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tabs {
  width: 1170px;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container-tabs {
  height: 40px;
  display: flex;
}

.container-tabs__1,
.container-tabs__2,
.container-tabs__3,
.container-tabs__4 {
  flex-grow: 1;
  text-align: center;
  line-height: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  border-bottom: 1px solid #c6cbcd;
}

.main {
  height: auto;
  border-left: 1px solid #c6cbcd;
  border-bottom: 1px solid #c6cbcd;
  display: flex;
  flex-wrap: wrap; /* Добавляем flex-wrap */
/* }

.main-left {
  padding-left: 100px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-left__text {
  height: auto;
  margin-bottom: 27px;
  width: 100%;
}

.main-left__botton {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 270px;
  height: 58px;
  background-color: #ec7979;
  border: none;
  color: #ffffff;
  align-self: flex-start;
}

.main-left__botton:hover {
  background-color: #ec7979;
  box-shadow: 0px 0px 10px 0px #ab4949 inset;
}

.main-left__botton:active {
  background-color: #ab4949;
}

.main-right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-right__picture {
  max-width: 100%;
  height: auto;
}

Медиа-запросы */
/* @media screen and (max-width: 768px) {
  .tabs {
    width: 100%;
  }

  .main {
    flex-direction: column;
  }

  .main-left {
    width: 100%;
    padding-left: 0;
  }

  .main-right {
    width: 100%;
  }

  .main-left__botton {
    width: 100%;
  }
}  */

@media (max-width: 1080px) {
  .main-left {
    padding-left: 90px;
  }
  .main-left__text {
    font-size: 16px;
    margin-bottom: 0;
  }
  .main-left__title {
    font-size: 26px;
  }
  .main-left__botton {
    width: 250px;
    /* margin-top: 38px; */
  }
}

@media (max-width: 1024px) {
  .main-left {
    padding-left: 84px;
  }
  .main-left__text {
    font-size: 14px;
  }
  .main-left__title {
    font-size: 24px;
  }
  .main-left__botton {
    margin-top: 38px;
    width: 232px;
  }
}

@media (max-width: 895px) {
  .main-left__title {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .main-left__title {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    line-height: 60px;
    margin-bottom: 0;
  }
  .main-right {
    display: none;
  }
  .main-left {
    padding-left: 24px;
    padding-right: 20px;
    width: 100%;
    border-right: 1px solid #c6cbcd;
  }
}

@media (max-width: 415px) {
  .main-left__title {
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  }
  .main-left__botton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 242px;
    margin-top: 28px;
  }
}
