* {
  box-sizing: border-box;
}

.container {
  width: 100%;
}
.tabs {
  width: 1170px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.container-tabs {
  height: 40px;
  display: flex;
}

.container-tabs__1 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  color: #333;

  display: inline-block;
  width: 203px;
  height: 41px;

  border-radius: 5px 5px 0px 0px;
  border-top: 1px solid #c6cbcd;
  border-right: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;

  align-items: center;
}

.container-tabs__2 {
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #c6cbcd;
  text-align: center;
  line-height: 40px;
  width: 184px;
  height: 40px;
}

.container-tabs__3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #c6cbcd;
  text-align: center;
  line-height: 40px;
  width: 184px;
  height: 40px;
}

.container-tabs__4 {
  border-bottom: 1px solid #c6cbcd;
  width: 587px;
  height: 40px;
}
.main {
  height: 502px;
  border-left: 1px solid #c6cbcd;
  border-bottom: 1px solid #c6cbcd;
}
.main-left {
  padding-left: 100px;
  vertical-align: top;
  display: inline-block;
}
.main-left__title {
  margin: 0;
  margin-bottom: 27px;
  height: 124px;
  line-height: 124px;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
.main-left__text {
  height: 210px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-bottom: 27px;
  width: 570px;
  vertical-align: top;
}

.main-left__botton {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 270px;
  height: 58px;
  background-color: rgba(236, 121, 121, 1);
  border: none;
  color: #ffffff;
}

.main-right {
  width: 40%;
  height: 500px;
  display: inline-block;
  margin-left: 25px;
}
.main-right__picture {
  width: 470px;
  height: 501px;
}
